.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-blue-400);
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}
.Header > a {
  color: var(--clr-wb-100);
  font-size: 2.2rem;
  padding: 0.4em;
  text-decoration: none;
}
.Active {
  background-color: var(--clr-blue-600);
  border-bottom: 3px solid var(--clr-red-400);
}
