body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: hsl(268, 90%, 74%);
  min-width: 40rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  white-space: nowrap;
}

:root {
  font-size: 62.5%;
  /* white and black--------- */
  --clr-wb-900:hsl(0, 0%, 0%);
  --clr-wb-100:hsl(0, 0%, 100%);
  /* blue----------- */
  --clr-blue-700:hsl(240, 100%, 62%);
  --clr-blue-600:hsl(203, 100%, 40%);
  

  --clr-blue-400:hsl(203, 100%, 50%);
  /* red---------- */
  --clr-red-400:hsl(0, 100%, 70%);
  --clr-red-300:hsl(0 ,100%, 83%);

  /* green------ */
  --clr-green-400:hsl(120, 100%, 40%);
}
